body {
  font-family: 'Open Sans', sans-serif; }

.border {
  height: 6px;
  border: 0;
  background-color: #fd7576;
  background-image: -webkit-linear-gradient(left, #fd7576, #fd7576 25%, #fec85d 25%, #fec85d 50%, #4db8de 50%, #4db8de 75%, #a378fc 75%, #a378fc 100%, #a378fc 100%);
  background-image: linear-gradient(to right, #fd7576, #fd7576 25%, #fec85d 25%, #fec85d 50%, #4db8de 50%, #4db8de 75%, #a378fc 75%, #a378fc 100%, #a378fc 100%);
  background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  -webkit-background-size: 50% 100%; }

.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

.flex_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .flex_nav .main_header,
  .flex_nav .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 5em 0 3em 0;
    font-size: .8em; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo img {
    width: 75px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .logo h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 0 0 1em;
    text-transform: uppercase;
    font-size: 1.35em;
    color: #34324b; }
    .logo h1 span {
      font-weight: 300; }

.nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #74718f;
    text-decoration: none; }
  .nav .current {
    font-weight: 700;
    color: #34324b; }

#timeline {
  width: 100%;
  list-style: none;
  padding: 0; }
  #timeline a {
    text-decoration: none; }
    #timeline a .vertical_line {
      content: " ";
      width: 1px;
      background: 1px #e6e7e9;
      height: 20%;
      position: absolute;
      z-index: -1;
      margin-left: 3em; }
  #timeline .vertical_line {
    content: " ";
    width: 1px;
    background: 1px #e6e7e9;
    height: 15%;
    position: absolute;
    z-index: -1;
    margin-left: 3em; }
  #timeline .last {
    display: none; }
  #timeline .listing {
    background-color: #ffffff;
    border: 1px solid #e6e7e9;
    border-radius: .3em;
    padding: 1em;
    margin-bottom: 1em;
    z-index: 1;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #timeline .listing .image_wrapper {
      -webkit-box-flex: .5;
          -ms-flex: .5;
              flex: .5; }
    #timeline .listing .job_type {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -ms-flex-item-align: center;
          align-self: center; }
    #timeline .listing .info {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3;
      -ms-flex-item-align: center;
          align-self: center;
      line-height: 1.25; }
      #timeline .listing .info .job_title {
        font-weight: 700;
        color: #34324b;
        font-size: 1.5em; }
      #timeline .listing .info .job_info {
        color: #74718f; }
        #timeline .listing .info .job_info span {
          margin: 0 .75em; }
    #timeline .listing img,
    #timeline .listing .info,
    #timeline .listing .job_type {
      font-size: .9em;
      color: #74718f; }
    #timeline .listing .image_wrapper img {
      width: 60px;
      border-radius: .25em; }
    #timeline .listing .job_type {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75em; }
      #timeline .listing .job_type .circle {
        height: 10px;
        width: 10px;
        border-radius: 100%;
        display: inline-block;
        background-color: #fd7576;
        margin-right: .5em; }
    #timeline .listing .full_time {
      color: #fd7576; }
      #timeline .listing .full_time .circle {
        background-color: #fd7576; }
    #timeline .listing .part_time {
      color: #fec85d; }
      #timeline .listing .part_time .circle {
        background-color: #fec85d; }
    #timeline .listing .freelance {
      color: #4db8de; }
      #timeline .listing .freelance .circle {
        background-color: #4db8de; }
    #timeline .listing .contract {
      color: #a378fc; }
      #timeline .listing .contract .circle {
        background-color: #a378fc; }
  #timeline .listing:hover {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1); }
  #timeline .date {
    display: inline-block;
    padding: 1em 0;
    width: 100px;
    background: #ffffff;
    border: 1px solid #e6e7e9;
    border-radius: 3em;
    font-weight: 700;
    font-size: .75em;
    text-align: center;
    margin: 1em 0 2em 0; }
  #timeline .load_more {
    text-align: center; }
    #timeline .load_more .button {
      border: 2px solid #a378fc;
      outline: none;
      padding: 1em 3.5em;
      text-align: center;
      background: transparent;
      border-radius: 3em;
      color: #a378fc;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      #timeline .load_more .button:hover {
        border: 2px solid #34324b;
        color: #34324b; }

@media only screen and (max-width: 762px) {
  .flex_nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .flex_nav .main_header,
    .flex_nav .nav {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
      margin: 2em 0 1em;
      text-align: center; }

  .logo {
    display: block;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
    .logo img {
      width: 75px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .logo h1 {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.1em;
      text-align: center;
      color: #34324b; }
      .logo h1 span {
        font-weight: 300; }

  .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1;
            flex: 1 1 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav a {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      color: #74718f;
      text-decoration: none; }
    .nav .current {
      font-weight: 700;
      color: #34324b; } }
@media only screen and (max-width: 600px) {
  #timeline .listing .image_wrapper img {
    width: 50px; }
  #timeline .listing .info {
    padding-left: 1em; }
    #timeline .listing .info .job_title {
      font-size: 1.1em; }
    #timeline .listing .info .job_info {
      font-size: .8em; }
  #timeline .listing .job_type {
    display: none; } }
